<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
<body>
</body>
</html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>Bienvenido a ParTec</h1> 
</div>
<div class="container2 mt - 2">
  <button class="btn btn-warning btn-lg m-5" (click) = logout()> Cerrar Sesión </button>
</div>
<div class= "container">
    <div class="card text-center">
      <div class="card-header">
        <b>Seleccione una opción</b> 
      </div>
      <div class="card-body p-4">
  
        <button class="btn btn-primary btn-lg m-4" *ngIf="this.isAdmin" (click) = Consultar()> Consultas</button>
        <button class="btn btn-primary btn-lg m-4" (click) = Reservar()> Reservar </button>
        <button class="btn btn-primary btn-lg m-4" *ngIf="this.isAdmin" (click) = Planilla()> Planilla </button>
        <button class="btn btn-primary btn-lg m-4" (click) = Perfil()> Perfil </button>
  
      </div>
    </div>
  </div>


