/*Esto centra en la pantalla el contenido*/
.container{
    display: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*Esto le da el estilo al header*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(3, 82, 185);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.div-1 {
  background-color:  #048304;
}
.div-2 {
  background-color:  #9bcb33;
}
.div-3 {
  background-color:  #fbfb04;
}
.div-4 {
  background-color:  #ff0d0d;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


body{
    background-color: gray;
    margin: 0;
    width: 100%;
    height: 100%;
}
.grid-container {
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
    grid-gap: 0 6px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    max-width: 100%;
}

.grid-item {
    background-color: rebeccapurple;
    border: 1px solid black;
    text-align: center;
}

#day {
  text-align: center;
  background-color: rgb(3, 82, 185);
  color: white;
  border: 1px solid black;

}
