<router-outlet></router-outlet>
<!DOCTYPE html>
<html>

<body>
</body>

</html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>Franja Horaria</h1>
</div>
    <div id="graph" class="grid-container">
        <div id="day">domingo</div>
        <div id="day">lunes</div>
        <div id="day">martes</div>
        <div id="day">miercoles</div>
        <div id="day">jueves</div>
        <div id="day">viernes</div>
        <div id="day">sabado</div>
    </div>