/*Esto centra en la pantalla el contenido*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 100vh;
    margin-top: 14%;
}

/*Esto le da el estilo al header*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(3, 82, 185);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }