<router-outlet></router-outlet>
<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>ParTec</h1> 
</div>>
<div class= "container">
    <div class="card text-center">
      <div class="card-header">
        <b>Registrar Estacionamiento</b> 
      </div>
      <router-outlet></router-outlet>
      <div class="card-body p-4">
  
        <label style="float: left;">Edificio</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el nombre del edificio"[(ngModel)]="estacionamiento.Edificio" required>
  
        <label style="float: left;">Nombre</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el nombre"[(ngModel)]="estacionamiento.Nombre">

        <label style="float: left;">Espacios discapacitados</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese los espacios de discapacitados"[(ngModel)]="estacionamiento.Discapacitados">

        <label style="float: left;">Espacios vehiculos Tec</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese los espacios de vehiculos del Tec"[(ngModel)]="estacionamiento.Vehiculos">

        <label style="float: left;">Espacios administrativos</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese los espacios administrativos"[(ngModel)]="estacionamiento.Administrativos">
        
        <label style="float: left;">Otros espacios</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese la cantidad de otros espacios"[(ngModel)]="estacionamiento.Otros">

        <label style="float: left;">Tipo</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el tipo de estacionamiento"[(ngModel)]="estacionamiento.Tipo">

        <label style="float: left;">Número de telefono (opcional)</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese el número del estacionamiento"[(ngModel)]="estacionamiento.Numero">

        <label style="float: left;">Nombre del propietario (opcional)</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el nombre del propietario"[(ngModel)]="estacionamiento.Propietario">

        <label style="float: left;">Inicio de Contrato (opcional)</label>
        <input class="form-control m-2" type="date" placeholder="Ingrese la fecha de inicio del contrato"[(ngModel)]="estacionamiento.InicioContrato">

        <label style="float: left;">Fin de Contrato (opcional)</label>
        <input class="form-control m-2" type="date" placeholder="Ingrese la fecha de fin del contrato"[(ngModel)]="estacionamiento.FinContrato">
  
        <button class="btn btn-primary btn-block m-4"(click) = Registrar()> Crear Estacionamiento </button>

        <label>Volver al menú de Inicio <a [routerLink]="['/home']">Inicio</a></label>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>

