<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
<body>
</body>
</html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>Bienvenido a ParTec</h1> 
</div>
<div class= "container">
    <div class="card text-center">
      <div class="card-header">
        <b>Ingresa a tu cuenta</b> 
      </div>
      <div class="card-body p-4">
  
        <label style="float: left;">Correo</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese su correo electrónico"[(ngModel)]="usuario.email">
  
        <label style="float: left;">Contraseña</label>
        <input class="form-control m-2" type="password" placeholder="Ingrese su contraseña"[(ngModel)]="usuario.password">
  
  
        <button class="btn btn-primary btn-block m-4" (click) = Ingresar()> Ingresar</button>
  
        <!--<label>¿Aun no tienes una cuenta? <a [routerLink]="['/registro']">Registrarse</a></label>-->
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>

