<router-outlet></router-outlet>
<!DOCTYPE html>
<html>

</html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>Estacionamientos</h1>
</div>

<body>
    <div class="container2 mt - 2">
        <button class="btn btn-success btn-lg m-5" (click)=Agregar()> Agregar Estacionamiento </button>
    </div>
    <div class="container mt - 2">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-striped table-bordered table-sm row-border hover">
            <thead>
                <tr>
                    <th>Edificio</th>
                    <th>Nombre</th>
                    <th>Espacios Discapacitados</th>
                    <th>Espacios Administrativos</th>
                    <th>Espacios Vehiculos</th>
                    <th>Otros Espacios</th>
                    <th>Horario Estacionamiento</th>
                    <th>Tipo</th>
                    <th>Teléfono</th>
                    <th>Nombre Propietario</th>
                    <th>Inicio Contrato</th>
                    <th>Fin Contrato</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!--Aqui van los datos que van dentro de la columna de arriba, en el orden de arriba-->
                <tr *ngFor="let e of data">
                    <td>{{e.building}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.disabledSpaces}}</td>
                    <td>{{e.administrativeSpaces}}</td>
                    <td>{{e.vehiclesSpaces}}</td>
                    <td>{{e.othersSpaces}}</td>
                    <td> <strong>Inicio: </strong>  {{e.schedule.startHour}} <br>
                        <strong>Fin: </strong>  {{e.schedule.endHour }} </td>
                    <td>{{e.type}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.ownerName}}</td>
                    <td>{{e.startContract}}</td>
                    <td>{{e.endContract}}</td>
                    <td><button class="btn btn-warning btn-sm m-4" (click)=Editar(e.id)> Editar </button></td>
                    <td><button class="btn btn-danger btn-sm m-4" (click)=Eliminar(e.id)> Eliminar </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>