<router-outlet></router-outlet>
<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="header">
    <h1>ParTec</h1> 
</div>
<div class= "container">
    <div class="card text-center">
      <div class="card-header">
        <b>Registrar Funcionario</b> 
      </div>
      <div class="card-body p-4">
  
        <label style="float: left;">Número Id</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el Id del funcionario"
        [(ngModel)]="user.idNumber" required>
  
        <label style="float: left;">Rol</label>
        <select class="form-control m-2" placeholder="Rol" name="Rol" [(ngModel)]="user.role"  required>
          <option value="admin">Admin</option>
          <option value="funcionario">Funcionario</option>
        </select>

        <label style="float: left;">Area</label>
        <select class="form-control m-2" placeholder="Area" name="Area" (change)="changeArea($event)" required>
          <option *ngFor="let a of areas" [value]=[a.code,a.name] ><strong>{{a.code}}: </strong>{{a.name}}</option>
        </select>

        <label style="float: left;">Teléfono</label>
        <input class="form-control m-2" type="number" placeholder="Ingrese el teléfono del funcionario"
        [(ngModel)]="user.phone" required>
        
        <label style="float: left;">Contraseña</label>
        <input class="form-control m-2" type="password" placeholder="Ingrese la contraseña"
        [(ngModel)]="user.password" required>

        <label style="float: left;">Correo secundario</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese el correo secundario"
        [(ngModel)]="user.secondEmail" required>

        <label style="float: left;">Correo</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese el correo principal"
        [(ngModel)]="user.email" required>

        <label style="float: left;">Nombre</label>
        <input class="form-control m-2" type="text" placeholder="Ingrese el nombre del funcionario"
        [(ngModel)]="user.name" required>

        <label style="float: left;">Usar el correo secundario como favorito</label>
        <select class="form-control m-2" placeholder="Correo secundario como favorito" name="User Correo Secundario" (change)="changeSecondEmail($event)">
          <option value="true">Sí</option>
          <option value="false">No</option>
        </select>
  
        <button class="btn btn-primary btn-block m-4" (click) = Registrar() > Registrar Funcionario</button>

        <label>Volver al menú de Inicio <a [routerLink]="['/payrollFuncionarios']">Inicio</a></label>
      </div>
    </div>
  </div>
